Html Webpack Plugin:
<pre>
  TypeError: Cannot read property 'headTags' of undefined
  
  - head.pug:94 
    /Users/Applelo/Sites/prin/principal-website/app/site/partials/head/head.pug:94:171
  
  - head.pug:113 template
    /Users/Applelo/Sites/prin/principal-website/app/site/partials/head/head.pug:113:4
  
  - index.js:284 
    [principal-website]/[html-webpack-plugin]/index.js:284:18
  
</pre>